@{
}

<div class="text-center">
    <h3 class="display-4">Adding model</h3>

    <div>
        <form method="post" action="/TemplateDomainModel/Save">
            <div>@Html.TextBox("name")</div>
            <div>@Html.TextBox("surname")</div>
            <input type="submit" value="Save"/>
        </form>
    </div>

</div>